<section class="secondSection">
    <h2 class="reasons" id="reasons">3 Reasons To Purchase</h2>

    <aside class="first-reason">
      <h3 class="h3">Ut sed metus</h3>
      <p class="texto-razones">Lorem ipsum dolor sit amet, consecteur.</p>
    </aside>

    <aside class="second-reason">
      <h3 class="h3">Curabitur ac erat</h3>
      <p class="texto-razones">Mauris mattis urna quis lorem molestie.</p>
    </aside>

    <aside class="third-reason">
      <h3 class="h3">Morbi dictum</h3>
      <p class="texto-razones">Aliquam in dolor et dolor tincidunt.</p>
    </aside>

    <button class="button"><strong>More reasons</strong></button>
  </section>