<section class="secondSection">
    <h2 class="secondSection_title" id="reasons">3 Reasons To Purchase</h2>

    <aside class="secondSection_first-reason">
      <h3 class="secondSection_h3">Ut sed metus</h3>
      <p class="secondSection_text">Lorem ipsum dolor sit amet, consecteur.</p>
    </aside>

    <aside class="secondSection_second-reason">
      <h3 class="secondSection_h3">Curabitur ac erat</h3>
      <p class="secondSection_text">Mauris mattis urna quis lorem molestie.</p>
    </aside>

    <aside class="secondSection_third-reason">
      <h3 class="secondSection_h3">Morbi dictum</h3>
      <p class="secondSection_text">Aliquam in dolor et dolor tincidunt.</p>
    </aside>

    <button class="secondSection_button"><strong>More reasons</strong></button>
  </section>