.firstSection   {
    width: 100%;
    background-color: #ffffff;
    margin-top: 30px;
    padding: 0px 15px;
}

.insomnia   {
    color: #8ccbea;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    line-height: 2.14;
    margin-bottom: 1px;
}

.looking    {
    width: 200px;
    font-family: "Roboto Slab";
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 1.25;
    font-weight: bold;
}

.donec  {
    width: 290px;
    height: 120px;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    line-height: 1.67;
    color: #4a4a4a;
    margin-bottom: 30px;
}

.go {
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px #f26002;
    background-color: #ffffff;
    font-family: "Roboto";
    font-size: 20px;
    text-align: center;
    color: #f26002;
    outline: none;
    margin-bottom: 45px;
    transition: background-color ease 0.3s;
    &:hover {
        background-color: #f26002;
        color: #ffffff;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    }
}
  

.secondSection  {
    width: 100%;
    background-color: #eff9ff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 45px 1fr 45px 1fr;
}

.reasons    {
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.25;
    grid-row: 1 / 2;
    text-align: center;
    margin-top: 30px;
}

.first-reason   {
    grid-row: 3 / 4;
    text-align: center;
}

.second-reason  {
    grid-row: 3 / 4;
    text-align: center;
}

.third-reason   {
    grid-row: 3 / 4;
    text-align: center;
}

.h3 {
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.67;
}

.texto-razones  {
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.67;
}

.button {
    background-color: #f26002;
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    font-family: "Roboto";
    border: solid 2px #f26002;
    font-size: 20px;
    outline: none;
    text-align: center;
    color: #ffffff; 
    grid-row: 5 / 6;
    transition: background-color ease 0.8s;
    &:hover {
        background-color: white;
        border: solid 3px #f26002;
        color: #f26002;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  }  
}

@media all and (min-width: 768px) {
    .main-section    {
        width: 100%;   
    }
    
    .firstSection   {
        padding: 0px 39px;
    }
    
    .looking    {
        width: 690px;
        font-size: 26px;
        margin-bottom: 30px;
        line-height: 1.73;
    }
    
    .donec  {
        width: 690px;
        height: 60px;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: normal;
    }
    
    .go {
        width: 91px;
        height: 45px;
        line-height: 2.25;
        margin-bottom: 60px;
        transition: background-color ease 0.3s;
        &:hover {
            background-color: #f26002;
            color: #ffffff;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
        }
    }

    .reasons    {
        font-size: 26px;
        line-height: 1.73;
        text-align: center;
    }
    
    .h3 {
        font-size: 24px;
        line-height: 1.25;
    }
    
    .texto-razones  {
        font-size: 20px;
        line-height: 1.5;
    }
    
    .button {
        width: 210px;
    }
}


@media all and (min-width: 1280px) {
    .main-section    {
        width: 100%;   
    }
    
    .firstSection   {
        padding: 0px 275px;
    }
    
    .looking    {
        width: 730px;
        font-size: 32px;
        line-height: 1.41;
    }
    
    .donec  {
        width: 730px;
        height: 60px;
    }
    
    .go {
        width: 160px;
        margin-bottom: 60px;
        transition: background-color ease 0.3s;
        &:hover {
            background-color: #f26002;
            color: #ffffff;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
        }
    }

    .reasons    {
        font-size: 32px;
        line-height: 1.41;
        text-align: center;
    }
}