
.secondSection  {
    width: 100%;
    background-color: #eff9ff;
    display: grid;
    grid-template-columns: 15px 55px 180px 55px 15px;
    grid-template-rows: 82.5px 138px 138px 138px 127.5px;
}

.secondSection_title    {
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.25;
    text-align: center;
    margin-top: 30px;
    grid-row: 1 / 2;
    grid-column: 2 / 5;
}

.secondSection_first-reason   {
    text-align: center;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}
.secondSection_h3 {
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.67;
}

.secondSection_text {
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.67;
}

.secondSection_second-reason  {
    text-align: center;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.secondSection_third-reason   {
    text-align: center;
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}

.secondSection_button {
    background-color: #f26002;
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    font-family: "Roboto";
    border: solid 2px #f26002;
    font-size: 20px;
    outline: none;
    text-align: center;
    color: #ffffff; 
    grid-row: 5 / 6;
    grid-column: 3 / 4;
    transition: background-color ease 0.8s;
    &:hover {
        background-color: white;
        border: solid 3px #f26002;
        color: #f26002;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  }  
}

@media all and (min-width: 768px) {
    .secondSection  {
        display: grid;
        grid-template-columns: 37.5px 212.13px 27.7px 212.13px 27.7px 212.13px 40px;
        grid-template-rows: 30px 45px 45px 112px 60px 45px 60px;
    }
    
    .secondSection_title    {
        font-size: 26px;
        line-height: 1.73;
        text-align: center;
        grid-row: 2 / 3;
        grid-column: 3 / 6;
    }
    
    .secondSection_h3 {
        font-size: 24px;
        line-height: 1.25;
    }
    
    .secondSection_text  {
        font-size: 20px;
        line-height: 1.5;
    }
    
    .secondSection_button {
        width: 210px;
        grid-row: 6 / 7;
        grid-column: 4 / 5;
    }

    .secondSection_first-reason   {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }

    .secondSection_second-reason  {
        grid-row: 4 / 5;
        grid-column: 4 / 5;;
    }
    
    .secondSection_third-reason   {
        grid-row: 4 / 5;
        grid-column: 6 / 7;
    }
}


// @media all and (min-width: 1280px) {
//     .reasons    {
//         font-size: 32px;
//         line-height: 1.41;
//         text-align: center;
//     }
// }